body {
	background-color: #DFFFF9;
	
}

body h1 {
	font-family: 'Raleway', sans-serif;	
}

div.size {
	margin: 10px
}


div.login {
	margin: 20px
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}